#outer_container {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0px;
    top: 0px;
    heigth: 100%;
    background: #FFFFFF;
}
header {
 display: block; /* Для старых браузеров */
 height: 105px; /* Высота шапки */
 background: #404448;
}
.logo_container{
    width: 10%;
    right: 0px;
    top: 0px;
}
.search_container{
    width: 40%;
    right: 0px;
    top: 0px;
}
.buttons_container{
    width: 50%;
    right: 0px;
    top: 0px;
}
footer {
    margin: auto;
    height: 60px;
    background: #404448;
}